<p>This is a simple demonstration of the Salesforce strategy for OmniAuth.
Simply click the button below and you will be authenticated with your 
Salesforce account. You will then be shown a list of your accounts.</p>

<a id='login' href='/auth/salesforce'>Log in with Salesforce</a>
