<!doctype html>
<html>
  <head>
    <title>OmniForce - OmniAuth for Salesforce</title>
    <link href='http://fonts.googleapis.com/css?family=Arvo:regular,bold' rel='stylesheet' type='text/css'>
    <link href='/application.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <h1 id='heading'>OmniAuth + Salesforce</h1>

    <section id='content'>
      <%= yield %>
    </section>
  </body>
</html>
